<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<configSections>
</configSections>
<connectionStrings>
    <add name="DBTest.Properties.Settings.ConnectionString" connectionString="initial catalog=&quot;D:\WORK\first_test_project\PurchaseOrderProjectSept_1 (1)\EASYPO.FDB&quot;;user id=SYSDBA;data source=localhost;Password=masterkey"
        providerName="FirebirdSql.Data.FirebirdClient" />
</connectionStrings>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>